<template>
<div id="above">
    <img src="../assets/images/left-arrow.png" alt="narrow" class="narrow" v-if="page===2" @click="change"/>
  <div v-if="page===1">
    <h1 class="mainTitle"> קטלוג ההכשרות והאימונים</h1>
    <img class="symbol" src="../assets/images/search.svg" alt="symbol"/>
    <img src="../assets/images/greyInfo.png" class="informaition" id="informaition" alt="info"/>
    <!-- <img src="../assets/images/searchPhoto.png" class="informaition" id="informaition" alt="info"/> -->
    <div class="infoCard" id="infoCard">קטלוג זה יספק לכם את המידע הרלוונטי אודות כלל הכשרות פיקוד העורף. לפניכם סרגל סינונים המאפשר יכולת הזנת קריטריונים / חיפוש חופשי, בעזרתם תוכלו למצוא את ההכשרות התואמות לנתונים אלה. </div>
  </div>
  <img class="sideSymbool" src="../assets/images/symbol.svg" alt="sideSymbool" @click="change"/>
</div>
</template>

<script>
export default {
  name: "above",
  props: ['page'],
   data() {
      return {
        searchQuery: null,
        
      }
   },
  methods: {  
    change () {
      this.$emit('changeThePage');
    }
  }   
}
</script>

<style scoped>
@font-face {
  font-family: "hebbo";
  src: url("../assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
}
.symbol {
    position: absolute;
    width: 12vw;
    height: 23vh;
    top: 2vh;
    right: 45vw;
} 

.sideSymbool {
  position: fixed;
  right: -0.5vw;
  top: 2.7vh;
  width: 7vw;
  height: 6vh;
  cursor: pointer;
}

.mainTitle {
  position: absolute;
  top: 21vh;
  right: 31.5vw;
  font-size: 7vh;
  color: rgb(70, 68, 68);
  font-family: "hebbo";
  font-weight: bold;
  text-shadow: 3px 3px rgb(236 131 18);
}

.informaition {
  cursor: pointer;
  width: 3vw;
  height: 6.5vh;
  position: fixed;
  top: 6vh;
  left: 4vw;
}

 .infoCard {
  font-family: "hebbo";
   background-color: rgb(70 68 68);
   opacity: 80%;
   width: 10vw;
   position: absolute;
   top: 14vh;
   left: 0.5vw;
   color: white;
   font-size: 1.5vh;
   text-align: center;
   border-radius: 10px;
   display: flex;
   align-items: center;
   display: none;
 }

#informaition:hover + #infoCard {
  display: block;
} 

.narrow {
  position: absolute;
  left: 2em;
  cursor: pointer;
}
</style>