<template>
  <div id="bottom">
      <div class="credits">
          <span>ענף תוה"ד וחילוץ @ 2022</span>
          <span> צוות פל"א - זיו ריקה</span>
      </div>
  </div>
</template>
<script>
export default {
    name:"bottom"

}
</script>

<style>
    .credits {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(172, 172, 172, 0.219);
        padding: 1em 0;
        margin-top: 1em;
        width: 100vw;
    }
</style>