<template>
  <div id="info">
    <div class="infoCard">כאן יהיה מידע על לשם מה נועד האתר</div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

 .infoCard {
   background-color: rgb(70 68 68);
   opacity: 80%;
   width: 10vw;
   height: 20vh;
   position: absolute;
   top: 15vh;
   left: 0.8vw;
   color: white;
   font-size: 1.5vh;
   text-align: center;
   border-radius: 10px;
   display: flex;
   align-items: center;
 }
</style>