<template>
  <div class="info">
    <h1 class="nameOfOb">{{theObject.name}}</h1>
    <img src="../assets/images/file.png" alt="documentPic" class="documentPic"/>
    <h1 class="nameOfPr">מטרת הקורס:</h1>
    <p class="purpose"> שיפור כשירותו של הקצין הנקלט בפיקוד העורף לביצוע משימותיו. זאת על ידי הצגת פיקוד העורף, תפקידיו, מבנו, תחומי העיסוק העיקריים ותורות הפעילות של הפיקוד.</p>
    <div class="title">
    </div>
    <div class="content">
     <div class="about">
      <h2>אוכלוסיית היעד:</h2>
      <h2>אוכלוסייה רלוונטית להכשרה:</h2>
      <h2>סיווג ביטחוני</h2>
      <h2>פרופיל רפואי:</h2>
      <h2>סעיפי ליקוי פוסלים:</h2>
    </div>
     <div class="purposes">
      <h2>מטרות הביניים:</h2>
      <p>1.החניך יפרט את מבנה ותפקידי פיקוד העורף</p>
      <p>2.החניך יפרט את </p>
      <p>3.החניך יסביר את תורות באירועים בעורף</p>
      <p>4.החניך יסביר את תחום האוכלוסייה בחירום והטיפול בה ע"י פיקוד העורף</p>
      <p>5.החניך יציין את מערוכת השו"ב בעורף</p>
      <p>6.החניך יציין את האמצעים הייעודים בעורף</p>
    </div>
    <div class="require">
      <h2>דרישות לקורס:</h2>
      <ul>
        <li>שנות לימוד: לא רלוונטי</li>
        <li>זכאות לתעודת בגרות</li>
        <li>איתור בשלב המלש"ב - לא רלוונטי</li>
        <li>קב"א: לא רלוונטי</li>
        <li>דפ"ר: לא רלוונטי</li>
        <li>מתאם: לא רלוונטי</li>
        <li>ציון קצונה ראשוני: לא רלוונטי</li>
        <li>ציון מבדק: לא רלוונטי</li>
        <li>שנות לימוד: לא רלוונטי</li>
      </ul>
      <h2>התניות נוספות מחייבות לקבלה לקורס:</h2>
      <ul>
       <li>לא רלוונטי</li>
      </ul>
      <h2>הישגים קודמים מחייבים נדרשים:</h2>
      <ul>
       <li>אין</li>
      </ul>
      <h2>תפקיד הקורס:</h2>
      <ul>
       <li> הכרחי: מיועד לקצינים בתפקיד הראשון בפיקוד העורף.</li>
       <li> מצוי: אין</li>
      </ul>
    </div>
    <div class="in">
      <h2>השתלמות/קורס:</h2>
      <h2>משך ההכשרה:</h2>
      <h2>מיקום ההכשרה:</h2>
      <h2>גמו"ש:</h2>
    </div>
    <div class="luz">
      <h2 class="nameLuz">לו"ז עקרוני / תכני הכשרה</h2>
      <p class="theLuz">הקצינים מגיעים להשתלמות לאחר הכשרה בסיסית בתחום המקצוע בו הם עוסקים. מרביתם עברו השלמה חילית והם מכירים טוב את עולם התוכן עליו הם. ההשתלמות נועדה לסקור בפני החניכים נושאים בסיסיים המאפיינים את העורף. דוגמת האיום על העורף, תפקודי ומבנה הפיקוד, התפיסה המבצעית, התורות הפיקודיות ותחום האוכלוסייה. המטרה של התכנים הללו הינה על מנת שכשיחזרו לתפקידם בתחום ההשתלמות תהיה להם את ההכרה הבסיסית עם מאפייני העורךף. ומכך יוכלו לבצע את ההתאמות הנדרשות לתםפקיד של כל אחד ואחד מהם. אין כל כוונה בהשתלמות להקנות כשירות לביצוע הספציפי.</p>
    </div>
    </div>
    <bottom></bottom>
  </div>
</template>

<script>
import bottom from '@/components/BOTTOM.vue'

export default {
  name:'information',
  components: {
    bottom,
  },
  props:['theObject'],
  data(){
    return{

    }
  },
}
</script>

<style scoped>
@font-face {
  font-family: "hebbo";
  src: url("../assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
}

html, body {
  overflow: hidden;
  font-family: "heebo";
}

.info {
  font-family: "heebo";
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(44, 43, 43);
}


.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: baseline;
  gap: 2em;
  color: rgb(44, 43, 43);
}

.content > * {
  border: 2px solid rgb(128, 126, 126);
  width: fit-content;
  padding: 1em;
  color: rgb(44, 43, 43);
}

.title {
  color: rgb(44, 43, 43);
  text-align: center;
}

.nameOfOb {
  color: rgb(44, 43, 43);
  font-family: "hebbo";
  font-weight: bold;
  color: rgb(44, 43, 43);
  font-size: 5vh;
  text-shadow: 3px 3px #FFB541;
}

.purpose {
  color: rgb(44, 43, 43);
  text-align: center;
}

.nameOfPr {
  font-family: "hebbo";
  color: rgb(44, 43, 43);
  font-size: 2.5vh;
  text-decoration: underline;   
}

.purposes {
  color: rgb(44, 43, 43);
  border: 1px solid black;
  position: relative;
  top: 5.29em;
}

h2 {
  font-weight: bold;
  text-decoration: underline; 
  color: rgb(70, 68, 68);
}

.luz {
  position: relative;
  bottom: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 6em;
  color: rgb(70, 68, 68);
}

.nameLuz {
}

.require {
  position: relative;
  left: 6em;
  top: 7em;
}

.in {
  position: relative;
  bottom: 11em;
  right: 3.7em;
  color: rgb(70, 68, 68);
}

.about {
  position: relative;
  top: 5.7em;
  right: 8em;
  color: rgb(70, 68, 68);

}
</style>