<template>
  <div id="names">
    <p v-if="page === 1" @click="changePage(object)" class="nameOf">{{object.name}}</p>
  </div>     
</template>

<script>

export default {
  name: "names",
    components: {
    },
  props: ['object', 'page'],
      data() {
        return {
            theCurrentOne: '',
        }
    },
 methods: {
     changePage(theName) {         
         this.$emit('change-page', theName);
     }
 }
}
</script>

<style scoped>
@font-face {
  font-family: "hebbo";
  src: url("../assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
}

.nameOf {
    font-size: 1vw;
    border: 1px solid rgb(70 68 68);
    background-color: rgb(170 170 170);
    text-align: center;
    border-radius: 5px;
    color: rgb(70 68 68);
    cursor: pointer;
  font-family: "hebbo";
}
</style>