<template>
  <div id="names">
    <p @click="changePage(object)" class="nameOf">{{object.name}}</p>
  </div>     
</template>

<script>

export default {
  name: "names",
    components: {
    },
  props: ['object', 'page'],
      data() {
        return {
            theCurrentOne: '',
        }
    },
 methods: {
     changePage(theName) {         
         this.$emit('change-page', theName);
     }
 }
}
</script>

<style scoped>
.nameOf {
    font-size: 1vw;
    border: 1px solid rgb(70 68 68);
    background-color: rgb(170 170 170);
    width: 7vw;
    height: 3vh;
    text-align: center;
    border-radius: 5px;
    color: rgb(70 68 68);
    cursor: pointer;
}
</style>