<template>
  <div id="optios">
      <form class="optionsToChoose" @submit.prevent="handleSubmit">
          <div class="oneOption">
            <p class="name">גוף הכשרה</p>
            <select class="option" name="training">
                <option value="">בחר</option>
                <option value="מכללה">מכללה</option>
                <option value="פיקוד">פיקוד</option>
            </select>
          </div>
           <div class="oneOption">
            <p class="name">תחום</p>
            <select class="option" name="subject">
                <option value="">בחר</option>
                <option value="אוכלוייה">אוכלוסייה</option>
                <option value="אגמ">אגמ</option>
                <option value="רפואה">רפואה</option>
                <option value="תקשוב">תקשוב</option>
                <option value="כבאות">כבאות</option>
                <option value="משטרה">משטרה</option>
                <option value="משאן">משאן</option>

            </select>
          </div>
           <div class="oneOption">
            <p class="name">אוכלוסיית יעד</p>
            <select class="option" name="population">
                <option value="">בחר</option>
                <option value="מילואים">מילואים</option>
                <option value="סדיר">סדיר</option>
            </select>
          </div>
           <div class="oneOption">
            <p class="name">דרגה</p>
            <select class="option" name="scale">
                <option value="">בחר</option>
                <option value="סגמ">סגמ</option>
                <option value="סגן">סגן</option>
                <option value="סרן">סרן</option>
                <option value="רב סרן">רב סרן</option>
                <option value="סדיר">סדיר</option>
                <option value="אזרחי">אזרחי</option>
            </select>
          </div>
           <div class="oneOption">
            <p class="name">בפיתוח</p>
            <select class="option" name="development">
                <option value="">בחר</option>
                <option value="לא">לא</option>
                <option value="כן">כן</option>
            </select>
          </div>
        <button class="btn">חיפוש</button>
      </form>
  </div>
</template>

<script>
export default {
    name: "options",
    data() {
        return {
        }
    },
 methods: {
     handleSubmit() {
         const selects = document.querySelectorAll('.option')
         let queryObj = {}
         selects.forEach(function(el) {
             if (el.value) {
                 queryObj[el.name] = el.value
             }
         });         
        this.$emit('search', queryObj)         
     }
 }
}
</script>

<style scoped>
    @font-face {
    font-family: "hebbo";
    src: url("../assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
    }

    html {
        font-family: "hebbo";
        font-weight: bold;
    }

    .optionsToChoose {
        width: 70vw;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 38vh;
        right: 14vw;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.315);
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 15vh;
    }

    .name {
        font-size: 1.2vw;
        text-align: center;
        width: 6vw;
        height: 6vh;
        color: rgb(70 68 68);
        font-family: "hebbo";
    }

    .option {
        width: 6vw;
        height: 2.5vh;
    }

    select {
        cursor: pointer;
        font-family: "hebbo";
        border-radius: 5px;
        background-color: rgb(219, 154, 88);
        text-align: center;
        font-weight: bold;
        font-size: 1.3vh;
        color: rgb(70 68 68);
    }

    .btn {
        font-family: "hebbo";
        position: absolute;
        color: rgb(70 68 68);
        background-color: rgb(70 68 68);
        border: 0.5px solid rgb(70 68 68);
        width: 4vw;
        height: 2.5vh;
        font-size: 1.5vh;
        text-align: center;
        border-radius: 3px;
        top: 19.5vh;
        right: 35vw;
        cursor: pointer;
        color: white;
    }

</style>