<template>
  <div id="place" v-if="page===1">
      <input type="text" v-model="queryObj.name" placeholder="חיפוש..." class="searchInput"/>
    <table>
      <!-- <div class="allNames" v-for="object in dataObject" :key="object.id" :name="object.name"> -->
      <tr v-for="object in filteredResources" :key="object.id" :name="object.name">
          <names :page="page" @change-page="changePage" :object="object"></names>
      </tr>
      <!-- <information v-if="page === 2" :object="name"></information> -->

      <!-- </div> -->
    </table>
  </div>
</template>

<script>
import names from '@/components/NAMES.vue';
// import information from '@/components/INFORMATION.vue';

export default {
    name: "palce",
    props: ['page', 'queryObj'],
    components: {
      names,
      // information,
    },
    data() {
      return {
        name: '',
        searchQuery: {},
        dataObject: [{
            name: 'תיק יסוד: רונית',
            id: 0,
            population:'מילואים',
            subject: 'רפואה',
            scale:'סרן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: שלומית',
            id: 1,
            population:'מילואים',
            subject: 'אוכלוסייה',
            scale:'רב סרן',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: אורי',
             id: 2,
            population:'סדיר',
            subject: 'תקשוב',
            scale:'סדיר',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: לינוי',
             id: 3,
            population:'סדיר',
            subject: 'כבאות',
            scale:'סגן',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: רון',
            id: 4,
            population:'מילואים',
            subject: 'משאן',
            scale:'אזרחי',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: איילת',
            id: 5,
            population:'סדיר',
            subject: 'משטרה',
            scale:'סדיר',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: נועה',
            id: 6,
            population:'מילואים',
            subject: 'אגמ',
            scale:'סגמ',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: נויה',
            id: 7,
            population:'מילואים',
            subject: 'משאן',
            scale:'סדיר',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: יובל',
            id: 8,
            population:'מילואים',
            subject: 'אוכלוסייה',
            scale:'סרן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: אבישג',
            id: 9,
            population:'סדיר',
            subject: 'תקשוב',
            scale:'סדיר',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: עידו',
            id: 10,
            population:'מילואים',
            subject: 'רפואה',
            scale:'סגן',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: נטע',
            id: 11,
            population:'סדיר',
            subject: 'אוכלוסייה',
            scale:'סרן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: רותם',
            id: 12,
            population:'סדיר',
            subject: 'משאן',
            scale:'סגמ',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: אדר',
            id: 13,
            population:'מילואים',
            subject: 'תקשוב',
            scale:'סגן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: דותן',
            id: 14,
            population:'מילואים',
            subject: 'אגמ',
            scale:'סדיר',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: איתי',
            id: 15,
            population:'סדיר',
            subject: 'רפואה',
            scale:'רב סרן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: לאון',
            id: 16,
            population:'מילואים',
            subject: 'כבאות',
            scale:'סגמ',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: ליאן',
            id: 17,
            population:'סדיר',
            subject: 'משאן',
            scale:'אזרחי',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: קרן',
            id: 18,
            population:'מילואים',
            subject: 'אוכלוסייה',
            scale:'סגמ',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: תמר',
            id: 19,
            population:'סדיר',
            subject: 'כבאות',
            scale:'סרן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: ליה',
            id: 20,
            population:'מילואים',
            subject: 'משטרה',
            scale:'סרן',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: רומי',
            id: 21,
            population:'מילואים',
            subject: 'אגמ',
            scale:'סדיר',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: לירון',
            id: 22,
            population:'מילואים',
            subject: 'רפואה',
            scale:'אזרחי',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: גל',
            id: 23,
            population:'סדיר',
            subject: 'תקשוב',
            scale:'סדיר',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: טל',
            id: 24,
            population:'סדיר',
            subject: 'כבאות',
            scale:'סרן',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: זיו',
            id: 25,
            population:'מילואים',
            subject: 'רפואה',
            scale:'אזרחי',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: שירה',
            id: 26,
            population:'סדיר',
            subject: 'משטרה',
            scale:'סגן',
            training:'פיקוד',
        }]
      }
    },
      computed: {
        filteredResources (){
        let searchObj = this.queryObj
          
          return this.dataObject.filter(function(item){
            let bool = true
            Object.keys(searchObj).forEach(key => {
              if (!item[key].includes(searchObj[key])) bool = false
            })
            return bool;
          })
        }
      },
        
    methods: {
      changePage(theName) {
        this.name = theName
         this.$emit('change-page', this.name);
     },
   
    }
}
</script>

<style scoped>
#place {
  position: relative;
  top: 65vh;
  height: 30vh;
  width: 70vw;
  right: 12vw;
}

td {
  width: 70vw;
  /* height: 20vh; */
}

.searchInput {
  background-color: white;
  /* background-color: rgb(170 170 170); */
  border-radius: 5px;
  width: 7vw;
  position: absolute;
  /* right: 34.8vw; */
  top: -3vh;
}

/* .allNames {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */
</style>