<template>
  <div id="searching">
      <!-- <input v-model="searchQuery" type="text"/> -->
      <div class="namess" v-for="data in filteredResources" :key="data.id">
        <h1>{{data.name}}</h1>
      </div>
  </div>
</template>

<script>
export default {
name: "searching",
data() {
    return {
        searchObj: {
            populstion: 'סדיר',
            // training: 'מכללה'
        },
         dataObject: [{
            name: 'תיק יסוד: רונית',
            id: 0,
            populstion:'מילואים',
            subject: 'רפואה',
            scale:'סרן',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: שלומית',
            id: 1,
            populstion:'מילואים',
            subject: 'אוכלוסייה',
            scale:'רב סרן',
            training:'פיקוד',
        },
        {
            name: 'תיק יסוד: אורי',
             id: 2,
            populstion:'סדיר',
            subject: 'תקשוב',
            scale:'סדיר',
            training:'מכללה',
        },
        {
            name: 'תיק יסוד: לינוי',
            id: 3,
            populstion:'סדיר',
            subject: 'כבאות',
            scale:'סגן',
            training:'פיקוד',
        }],
    
    }
},
       computed: {
        filteredResources (){
        let searchObj = this.searchObj
          return this.dataObject.filter(function(item){
            let bool = true
            let keys = Object.keys(searchObj) 
            for (let i = 0; i <= keys.length; i++) {
                let key = keys[i]
                let value = searchObj[key]
                if (item[key] != value) {
                    bool = false
                } 
            }
            return bool;
          })
        }
      }
}
</script>

<style>
    .namess {
        position: relative;
        top: 10vh;
        border: 2px solid black;
        width: 70vw;
        height: 10vh;
        color: black;
        display: flex;
        justify-content: space-evenly;

    }
</style>