<template>
  <div id="app">
    <above @open-info="openInfo" :page="pageNum" @changeThePage="backPage"></above>
    <opthions v-if="pageNum === 1" @search="getIn"></opthions>
    <information v-if="pageNum === 2" :theObject="name"></information>
    <palce @change-page="updatePage" :queryObj="queryObj" :page="pageNum"></palce>
    <searching v-if="pageNum === 4"></searching>
  </div>
</template>
 
<script>
import above from '@/components/ABOVE.vue';
import opthions from '@/components/OPTHIONS.vue';
import information from '@/components/INFORMATION.vue';
import palce from '@/components/PLACE.vue';
import searching from '@/components/SEARCHING.vue';

export default {
  name: "app",
  components: {
    above,
    opthions,
    searching,
    information,
    palce,
  },
  data() {
    return {
      pageNum: 1,
      isOpen: true,
      queryObj:{},
      theName: '',
    }
  },
  methods: {
    updatePage(name) {
      this.pageNum++;
      this.name = name;
    },
    openInfo() {
      this.isOpen = true;
    },
    getIn(theObject) {
      this.queryObj = theObject; 
    },
    backPage() {
      if (this.pageNum === 2) {
        this.pageNum--;
      }
    },
  }
}
</script>


<style>
@font-face {
  font-family: "hebbo";
  src: url("assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
}

html {
  background-color: rgb(189, 189, 189);
  direction: rtl;
}
</style>